
body {
    padding: 30px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    background-color: rgb(128, 184, 230);
    color: rgb(15, 15, 15);
    font-family: monospace;
}

textarea {
    text-align: center;
    border: 1px dashed rgb(87, 83, 83);
    border-radius: 10px;
}

h1 {
    margin-top: 1%;
    padding: 2%;

}

h2 {
    border: 1px solid rgb(87, 83, 83);
    background-color: white;
}

.genpwbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0.6%;
    padding: 0.5%;
    border: 1px solid rgb(87, 83, 83);
    border-radius: 10px;
}

.genpwbtn:hover {
    cursor: pointer;
}



